extends layout
block content
	aside
	header#logo
		a#logoLink(href= '/')
		h1.where  #{location.name}
	main
		section#locations
			.location(id=location.slug, data-slug=location.slug, data-id=location.id)
				.content
					.graph.loading
						.loader
						.easel
							.buttons.view
								.button.type.scraps.selected(data-type='scraps') Scraps
								.button.type.compost(data-type='compost') Compost
						.arrow.left.show
							img(src ='images/left.svg')
						.arrow.right.show
							img(src ='images/right.svg')
						.popup.model
							.row.date
								.cell.title='Date'
								.cell.data
							.row.value
								.cell.title
								.cell.data
							.point
				include info.pug
	include slider.pug
	include footer.pug