.info
	.inner
		.box.left
			.inner
				if location.dropoff
					.text
						h2.dropoff !{location.dropoff}
				if location.what
					h2 About Purchase Compost Initiative
					.text
						p !{location.what}
				if location.compostable
					h2 How to compost
					.text
						p !{location.compostable}
				if location.who
					h2 History
					.text
						p !{location.who}
				if location.how
					h2 About the Rocket
					.text
						p !{location.how}
		.box.right
			.inner
				.labels.sort 
					.label.value.date 
						h2 Date
					.label.value.scraps 
						h2 Scraps
					.label.value.compost 
						h2 Compost
				ul.logList
					for log in logs
						li(data-id=log._id, data-date=log.month+'/'+log.year)
							.cell.date= log.dateDisplay
							.cell.scraps= log.scraps+' lbs.'
							.cell.compost= log.compost+' lbs.'